# Database (SQLite)
DATABASE_URL="file:./dev.db"

# Google Gemini AI
GOOGLE_AI_API_KEY="YOUR_GEMINI_API_KEY_HERE"
GEMINI_MODEL=gemini-2.5-flash # Recommended: gemini-2.5-flash, gemini-2.0-flash

# NextAuth Configuration
NEXTAUTH_SECRET="REPLACE_WITH_RANDOM_SECRET"
NEXTAUTH_URL="http://localhost:3500"

# Context Window & AI Limits
CONTEXT_WINDOW_LIMIT=20
MAX_OUTPUT_TOKENS=800

#Secret keys
ENCRYPTION_SECRET="YOUR_ENCRYPTION_KEY"
